.confirmar-cadastro {
    width: 300px;
    height: 40px;
    margin-left: 50px;
    margin-top: 15px;
    background-color: #fafafa;
    background-size: 800% 400%;
    /* padding: 1em 2em; */
    display: inline-block;
    border-width: 2px;
    border-color: #024504;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.confirmar-cadastro:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
}

.confirmar-cadastro:active {
    animation: gradient 1s infinite;
    transform: scale(0.8);
}

.confirmar-cadastro:disabled {
    background-color: lightgray;
    opacity: 0.7;
    color: black;
    cursor: auto;
}

.text-error {
    color: red;
    font-size: 15px;
    padding: 12px 0px;
}

.button-container {
    display: flex;
    grid-column: 1/span 2;
    flex-direction: column;
    align-items: center;
}