.container {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: #00b064;
}

.imgLogo {
  width: 64px;
}

.buttonOption {
  font-size: 24px;
  color: #f4f6f6;
  line-height: 12px;
  padding: 16px;
}
